<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />


    <!--Start 系统参数配置-->
    <add key="CustomExceptionConfigurationFile" value="Configuration\ExceptionTemplate.config" />
    <add key="EmailHelperConfigurationFile" value="Configuration\EmailTemplate.config" />
    <add key="ShortDateFormat" value="yyyy-MM-dd" />
    <add key="DefaultWorkingWarehouse" value="18" />
    <add key="FullDateFormat" value="yyyy-MM-dd HH:mm:ss" />
    <add key="IsDebug" value="true" />
    <add key="SystemSwitch" value="On" />
    <add key="PDPKey" value="08D0871C" />
    <add key="FinCookieDomain" value="shiver.com" />
    <add key="DatabaseListFile" value="Configuration/Database.config" />
    <add key="DataCommandFile" value="Configuration/DbCommandFiles.config" />
    <add key="LanguageList" value="zh-TW|繁体中文,zh-CN|简体中文,en-US|英文" />
    <add key="DefaultCulture" value="zh-TW" />

    <!--多店多TNS選擇開關 add @2016.03.14 by OceanChai-->
    <add key="LoginDBList" value="on" />
    <add key="LoginTemplate" value="1"/> <!-- 1:直行 2:並排-->
    <!--End 系统参数配置-->

    <!--for 云端进销存，客户ID输入开关 add @2016.03.14 by OceanChai-->
    <add key="LoginCustomer" value="on" />
    <!--End 系统参数配置-->
    
  </appSettings>

  <system.web>
    <httpRuntime maxRequestLength="204800" executionTimeout="3600" requestValidationMode="2.0"/>

    <authentication mode="Forms">
      <forms name="AuthenToken" loginUrl="~/FrameWork/Login" timeout="2880" domain="www.RSLO2O.com"/>
    </authentication>
    <compilation debug="true" targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
     
  <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
