<?xml version="1.0" encoding="utf-8" ?>
<dataCommandFiles>
 
  <file name="Data\Framework\Framework_User.config"/>
  <file name="Data\Framework\Framework_Menu.config"/>
  <file name="Data\Framework\Framework_Role.config"/>
  <file name="Data\Framework\Framework_Log.config"/>
  <file name="Data\Framework\Framework_Customer.config"/>
  <file name="Data\XinagYun\XiangYun_Order.config"/>
  <file name="Data\Einv\Einv.config"/>
  <file name="Data\Einv\EinvRoll.config"/>
  <file name="Data\Einv\EinvCompany.config"/>
  <file name="Data\Einv\EinvB2C.config"/>
  <file name="Data\Einv\EinvSales.config"/>
  <file name="Data\Einv\EinvUpload.config"/>
  <file name="Data\Regent\Order.config"/>
</dataCommandFiles>